@import url(https://fonts.google.com/specimen/Playfair+Display?query=playfair);
body{
  background-color: rgb(0, 31, 63);
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: cover;
  font-size:8vw;
  text-align: center;
  color:white;
  margin:0;
}

.main-heading{
  margin-top:2vw;
  color:chocolate;
  margin-bottom: -25vw;
  font-family: 'Playfair Display';
  font-weight:400vw;
  font-size:7vw;
  font-style: italic;
}

.happy {
  animation: happy1 5s forwards;
  margin-right:10vw;
  padding-right:20vw;
}

@keyframes happy1{
  0% {transform: translateY(-25vw); }
  50% {transform: translateY(0vw);}
  100% {transform: translateY(0vw);}
}

.new{
  animation: new1 10s forwards;
  margin-top:-20vw;
  margin-left:33vw;

}

@keyframes new1{
  0% {transform: translateY(-25vw); }
  50% {transform: translateY(0vw);}
  100% {transform: translateY(0vw);}
}

.year{
  color: chocolate;
  margin-top:-23vw;
  margin-left:-70vw;
  font-size: 12vw;
  position:relative;
  animation: year1 3s forwards;
  align-items:center; 
  transition-timing-function: ease-out;
}

@keyframes year1{
  0% {transform: translateX(0vw);}
  100% {transform: translateX(28vw);}
}
 
.three{
  color:olivedrab;
  margin-left:20vw;
  margin-top:-3vw;
  padding:-30vw;
  animation: three1 10s forwards;
  animation-delay:3s;
} 

@keyframes three1{
  0% {transform: translateX(0); opacity: 1}
  70% {transform: translateX(30); opacity: 1}
  100% {transform: translateX(50vw);  opacity: 0}
}
/*
.four{
  margin-left: 95vw;
  margin-top: -40vw;
  font-size: 20vw;
  animation: four1 6s forwards;
  position: relative;
}

@keyframes four1{
  0%   {color:rgb(0, 31, 63); left:0px;  top: 1vw;}
  65%  {color:white; left:-27vw;  top: 1vw;}
  80% {color: white; top: 1vw;}
  97%  {color:white; top: 1vw;}
  100% {color:yellow; left: -36vw; top:1vw;}
}



@keyframes appear-rib {
  0% {
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  97%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

